@charset "UTF-8";
/*Fuente principal*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
body {
  font-family: "Catamaran", sans-serif;
  background-color: #367578;
}

.parrafo {
  font-size: 20px;
}

/*estilo para el menu*/
.navColor {
  background-color: #00151A;
}

.logo {
  width: 120px;
}

.menuL {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s;
}
.menuL:hover {
  color: #008099;
  font-size: 22px;
}

.lista {
  font-size: 15px;
}
.lista:hover {
  background-color: #17535e;
  color: black;
  font-weight: bold;
}

li {
  list-style: none;
}

Nav .btn-buscar {
  background-color: #005f75;
  color: white;
  transition: all 0.2s;
}
Nav .btn-buscar:hover {
  background-color: #999999;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para titulo y portada */
.titulo {
  text-transform: uppercase;
  padding-top: 300px;
  color: rgb(243, 237, 237);
  padding-left: 35rem;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black, 2px 2px 25px #2e4e80, 2px 2px 5px #000095;
}

.banner .parrafo {
  color: rgb(243, 237, 237);
  padding-left: 35rem;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

/* Acerca de nosotros*/
.about {
  margin: 15px;
  padding: 25px;
}

.aboutSombra {
  box-shadow: 10px 10px 30px #000000;
  box-shadow: ejeX ejeY difumasion color;
  background-color: #678282;
}

.subTitulo {
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
}

.aboutTexto {
  display: grid;
  align-items: center;
}

/*Estilo para seccion noticias*/
.noticias {
  padding-top: 15px;
}

.boxNoti {
  margin: 10px;
  padding: 15px;
}
.boxNoti h2 {
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

.boxImagenes {
  display: flex;
  justify-content: center;
}

.boxImg {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 15px;
}
.boxImg img {
  width: 250px;
  height: 220px;
  margin: 10px 15px 10px 15px;
  border-radius: 15px;
}
.boxImg p {
  margin-top: 5px;
}

/* Caja de imagenes y parrafos */
/* caja individuales */
.notiImg {
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notiImg p {
  margin-top: 15px;
}

/* imagenes */
/*Estilo caja comentarios*/
.infoExtra {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* PIE DE PÁGINA */
footer {
  text-align: center;
  background-color: #202020;
  height: 200px;
  width: 100%;
  display: grid;
  align-items: end;
}

.footerLink {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnRedes {
  font-size: 30px;
  color: #a8a8a8;
  margin: 15px;
  padding: 20px;
}

.footerText {
  color: #a8a8a8;
}

/* Estilo para seccion de categorias */
.serie1 {
  width: 340px;
  height: 420px;
}

.serie3 {
  width: 320px;
  height: 430px;
}

.serie4 {
  width: 300px;
  height: 430px;
}

.boxCategoria {
  margin: 15px;
  padding: 10px;
}

/* Estilos para seccion de estrenos */
.divPadre {
  margin: 20px;
  padding: 10px;
}

.divHijo {
  text-align: center;
}

/* Estilo para seccion Mi lista */
.imgLista {
  width: 650px;
  height: 400px;
}

/* Estilo para seccion Login */
.formulario {
  margin: 30px;
  padding: 20px;
}

.loginPadre {
  display: grid;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  height: 450px;
  margin: auto;
}

/* APLICANDO MEDIA QUERY */
/* PARA TELEFONO */
@media (max-width: 600px) {
  .logo {
    width: 60px;
  }
  .titulo {
    font-size: 30px;
    line-height: 1;
    padding: 80px 0 0 0;
  }
  .banner .parrafo {
    display: none;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
  .notiImg p {
    margin: 30px;
  }
  .portada {
    width: 290px;
    height: 350px;
  }
  .portada img:hover {
    cursor: pointer;
    width: 200px;
    filter: contrast(120%);
  }
  /* Imagenes de noticias */
  .imgUno {
    width: 250px;
  }
  .imgDos {
    width: 250px;
  }
  .imgTres {
    width: 250px;
  }
  /* comentario */
  .cajaPrincipal {
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .comentario {
    width: 300px;
    height: 400px;
  }
  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .btnRedes {
    font-size: 22px;
    margin: 7px;
  }
  .footerText h4 {
    font-size: 15px;
  }
  /* LOGIN */
  .loginPadre {
    width: 270px;
    height: 450px;
    margin: auto;
  }
}
/* PARA TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .titulo {
    font-size: 4rem;
    padding-top: 10rem;
    padding-left: 0;
  }
  .banner .parrafo {
    font-size: 20px;
    padding-left: 0;
  }
  /* COMENTARIOS */
}

/*# sourceMappingURL=style.css.map */
