/* Acerca de nosotros*/
.about {
    margin: 15px;
    padding: 25px;

}
.aboutSombra {
    box-shadow: 10px 10px 30px #000000;
    box-shadow: ejeX ejeY difumasion color;
    transition: all 0.3s;
}
.aboutSombra:hover {
    height: 400px;
    width: 100%;
}
.subTitulo {
    font-size: 40px;
    letter-spacing: 2px;
    color: $color_1;
    font-weight: bold;
}
.aboutTexto {
    display: grid;
    align-items: center;
}
