/* Acerca de nosotros*/
.about {
    margin: 25px;
    padding: 15px;
}
.aboutSombra {
    @include sombraCaja;
    width: 100%;
}

.subTitulo {
    font-size: 40px;
    letter-spacing: 2px;
    color: $color_1;
    font-weight: bold;
}

.parrafo {
    font-size: $parrafo;
    margin-top: 15px;
}
