/* Estilo para seccion de categorias */
.serie1 {
    width: 340px;
    height: 420px;
}

.serie3 {
    width: 320px;
    height: 430px;
}

.serie4 {
    width: 300px;
    height: 430px;
}

.boxCategoria {
    margin: 15px;
    padding: 10px;
}