/* PIE DE PÁGINA */

footer {
    background-color: $background-colorF_1;
    width: 100%;

    .footerLink {
        margin: 15px;
        padding: 10px;
    }
}
.footerLink {
    a {
        text-decoration: none;
        }

    li {
        margin-left: 150px;
    }
}

.btnRedes {
    font-size: 25px;
    @include textoFooter;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footerText {
    @include textoFooter;
    text-align: center;
    margin-top: 70px;
}