/* PIE DE PÁGINA */

footer {
    background-color: $background-colorF_1;
    width: 100%;

    .footerLink {
        margin: 15px;
        padding: 10px;
    }
}

.footerLink {
    a {
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            font-weight: bold;
            color: $colorNav_1;
        }
    }

    li {
        margin-left: 150px;
    }
}

.btnRedes {
    font-size: 25px;
    @include textoFooter;
    margin: 15px;
    padding: 20px;
}

.footerText {
    @include textoFooter;
    text-align: center;
    margin-top: 70px;
}