/* PIE DE PÁGINA */
footer {
    background-color: $background-colorF_1;
    width: 100%;
}

footer .footerLink {
    margin: 15px;
    padding: 10px;
}
.footerLink a {
    text-decoration: none;
    transition: all 0.3s;
}
.footerLink a:hover {
    font-weight: bold;
    color: $colorNav_1;
}
.footerLink li {
    margin-left: 250px;
}

.btnRedes {
    font-size: 25px;
    color: $colorFooter_1;
    margin: 15px;
    padding: 20px;
}

.footerText {
    color: $colorFooter_1;
    text-align: center;
}