/*estilo para el menu*/
.navColor {
    background-color: $background-colorNav_1;
}

.logo {
    width: 120px;
}

.menuL {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

    &:hover {
        color: $colorNav_1;
    }
}

.lista {
    font-size: 15px;

    &:hover {
        background-color: $background-colorNav_2;
        color: $colorNav_2;
        font-weight: bold;
    }
}

li {
    list-style: none;
}Nav

.btn-buscar {
    background-color: $background-colorNav_3;
    color: $colorNav_3;

    &:hover {
        background-color: $background-colorNav_4;
        color: $colorNav_2;
        border: 1px solid black;
        font-weight: bold;
    }
}