@mixin subtitulos {
    margin: 10px;
    padding: 15px;
    
    h2 {
        font-size: 40px;
        letter-spacing: 2px;
        color: $color_1;
        font-weight: bold;
        margin: 15px;
        padding: 10px;
    }
}
@mixin colorFondo {
    background: linear-gradient(45deg, #669ac1, #ace3a1);
}
/*Estilo caja Info extra*/
.infoExtra {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Estilo para seccion noticias*/
.noticias {
    padding-top: 15px;

}

.boxSubtitulo {
    @include subtitulos;
}

//Imagenes noticias 
.boxImagenes {
    display: flex;
    justify-content: center;
}

.boxImg {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 15px;

    img {
        width: 250px;
        height: 220px;
        margin: 10px 15px 10px 15px;
        border-radius: 15px;
    }
    p {
        margin-top: 5px;
    }
}

// Estilo cajas comentarios
.boxComentario {
    @include colorFondo;
    transition: all 0.3s;

    h5 {
        font-weight: bold;
    }

    p {
        font-weight: bold;
    }

    // &:hover {
    //     width: 430px;
    //     height: 160px;
    //     cursor: pointer;
    // }
}
.btn_modal {
    @include botones;
}


