@mixin subtitulos {
    margin: 10px;
    padding: 15px;
    
    h2 {
        font-size: 40px;
        letter-spacing: 2px;
        color: $color_1;
        font-weight: bold;
        margin: 15px;
        padding: 10px;
    }
}
@mixin colorFondo {
    background: linear-gradient(45deg, #044f69, #89b4ad);
}
/*Estilo caja Info extra*/
.infoExtra {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Estilo para seccion noticias*/
.noticias {
    padding-top: 15px;

}

.boxSubtitulo {
    @include subtitulos;
}

//Imagenes noticias 
.boxImg {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 15px;
    background-color: #759797;
    height: 450px;

    img {
        width: 250px;
        height: 220px;
        margin: 10px 15px 10px 15px;
        border-radius: 15px;
    }
    p {
        margin-top: 15px;
        padding-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

// Estilo cajas comentarios
.boxComentario {
    @include colorFondo;
    @include sombraCaja;
    transition: all 0.3s;

    h5 {
        font-weight: bold;
    }

    p {
        font-weight: bold;
    }
}
.btn_modal {
    @include botones;
}


