/* Estilo para seccion Login */
.formulario {
    margin: 30px;
    padding: 20px;
}

.loginPadre {
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 450px;
    margin: auto;
}