/*Estilo para seccion noticias*/

.noticias {
    border: 1px solid black;
    border-radius: 60px;
    padding-top: 15px;
    // display: flex;
    // flex-direction: column;
}

.boxNoti {
    h2 {
        font-size: 40px;
        letter-spacing: 2px;
        color: $color_1;
        font-weight: bold;
        margin: 15px;
        padding: 10px;
    }
}
/* Caja de imagenes y parrafos */
// .boxNotiDos {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
// }
/* caja individuales */
.notiImg {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 15px;
    }
}
/* imagenes */
.imgUno {
    width: 375px;
}

.imgDos {
    width: 370px;
}

.imgTres {
    width: 360px;
}
