/* Estilo para titulo y portada */
.titulo {
    text-transform: uppercase;
    padding-top: 250px;
    @include colorText;    
}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black,
    2px 2px 25px #323f4d,
    2px 2px 5px #489de6;
}

.banner .parrafo {
    @include colorText;
    @include textoPortadas;
}

// Categoria
.textoP {
    color: $colorPortada_1;
    @include textoPortadas;
}