/* Estilo para titulo y portada */
// Inicio
@mixin colorText {
    color: $colorPortada_1;
    padding-left: 35rem;
}
@mixin textoPortadas {
    font-size: $parrafo+10px;
    text-shadow: 1px 1px 2px black;
}

.titulo {
    text-transform: uppercase;
    padding-top: 300px;
    @include colorText;    
}

h1 {
    font-size: 7rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black,
    2px 2px 25px #2e4e80,
    2px 2px 5px #000095;
}

.banner .parrafo {
    @include colorText;
    @include textoPortadas;
}

// Categoria
.textoP {
    color: $colorPortada_1;
    @include textoPortadas;
}