/* Estilo para seccion de categorias */
.categoria {
    margin: 20px;
    padding: 10px;
}
.boxSubtitulo {
    @include subtitulos;

    p {
        font-size: $parrafo + 15px;
        font-weight: bold;
    }
}

/* Estilos para seccion de estrenos */
.tituloE {
    margin-top: 40px;
    padding-top: 35px;
}
.boxPortada {
    display: grid;
    place-items: center;
    height: 700px;
}

.portada {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 630px;

    img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        transition: .5s ease;

        &:hover {
            cursor: pointer;
            width: 350px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}

/* Estilo para seccion Mi lista */
.imgLista {
    width: 650px;
    height: 400px;
}

/* Estilo para seccion Login */
.formulario {
    margin: 30px;
    padding: 20px;
}

.loginPadre {
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 450px;
    margin: auto;
}