$font-family_1: 'Catamaran',
sans-serif;
$background-color_1: #00091A;
// variables de nav
$colorNav_1: #008099;
$colorNav_2: black;
$colorNav_3: white;
$background-colorNav_1: #00151A;
$background-colorNav_2: #17535e;
$background-colorNav_3: #005f75;
$background-colorNav_4: #999999;
//estilo portada
$colorPortada_1: black;
//
$color_1: black;
//Estilo Footer
$colorFooter_1: #a8a8a8;
$background-colorF_1: #202020;
