/* Estilo para seccion de categorias */
.tamCajas {
    @include tamCajas;
}

.boxSubtitulo {
    @include subtitulos;

    p {
        font-size: $parrafo + 15px;
        font-weight: bold;
    }
}

.boxCategoria {
    color: $color_1;
    background: radial-gradient(#9fcdd8, #396f77);
    border: 1px solid $color_1;
    p {
        font-size: $parrafo -10px;
    }
}

/* Estilos para seccion de estrenos */
.tituloDos {
    margin-top: 40px;
    padding-top: 35px;

    h1 {
        font-size: 90px;
        letter-spacing: 6px;
        color: $color_1;
        text-shadow: 2px 2px 25px #323f4d,
        2px 2px 5px #6692a4;
    }

}
.boxPortada {
    display: grid;
    place-items: center;
    height: 700px;
}

.portada {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 630px;

    img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        transition: .5s ease;

        &:hover {
            cursor: pointer;
            width: 350px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}

.tamCajas {
    @include tamCajas;
    a{
        text-decoration: none;
        font-size: $parrafo - 2px;
        color: $color_1;
        transition: all 0.2s;

        &:hover {
            font-size: $parrafo;
            font-weight: bold;
        }
    }
}

.boxEstreno {
    @include colorFondo;
    border: 1px solid $color_1;
    border-radius: 15px;

    h2 {
        font-weight: bold;
    }
}

/*Estilo lista*/
.listaSub {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 35px;
    padding-bottom: 15px;

    h2 {
        font-weight: bold;
    }

}

/* Estilo para seccion Login */
.tituloSesion {
    margin-top: 70px;
    padding-top: 40px;
    
    h1 {
        font-size: 55px;
        letter-spacing: 6px;
        color: $color_1;
    }
}
.boxSesion {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 50px;
}
.boxLogin {
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
    margin-right: -50px;
    height: 750px;

    h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-bottom: 25px;
    }
}
form  {
    .textLogin {
        margin-top: 10px;
    }
}

.btnLogin {
    @include botones;
    margin-top: 5px;
}
.iconosLogin {
    a {
        text-decoration: none;
        color: $background-colorNav_2;
        margin: 10px;
        padding: 5px;
    }
    .icono {
        font-size: $parrafo + 9px;
    }
}

