@charset "UTF-8";
/*Fuente principal*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
body {
  font-family: "Catamaran", sans-serif;
  background-color: #367578;
}

.parrafo {
  font-size: 20px;
}

/*estilo para el menu*/
.navColor {
  background-color: #00151A;
}

.logo {
  width: 120px;
}

.menuL {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s;
}
.menuL:hover {
  color: #008099;
  font-size: 22px;
}

li {
  list-style: none;
}

.btn-buscar {
  background-color: #005f75;
  color: white;
  transition: all 0.2s;
}
.btn-buscar:hover {
  background-color: #999999;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para titulo y portada */
.titulo {
  text-transform: uppercase;
  padding-top: 300px;
  color: rgb(243, 237, 237);
  padding-left: 35rem;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black, 2px 2px 25px #2e4e80, 2px 2px 5px #000095;
}

.banner .parrafo {
  color: rgb(243, 237, 237);
  padding-left: 35rem;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

.textoP {
  color: rgb(243, 237, 237);
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

/* Acerca de nosotros*/
.about {
  margin: 15px;
  padding: 25px;
}

.aboutSombra {
  box-shadow: 10px 10px 30px #000000;
  box-shadow: ejeX ejeY difumasion color;
  background-color: #678282;
}

.subTitulo {
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
}

.aboutTexto {
  display: grid;
  align-items: center;
}

/*Estilo caja Info extra*/
.infoExtra {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Estilo para seccion noticias*/
.noticias {
  padding-top: 15px;
}

.boxSubtitulo {
  margin: 10px;
  padding: 15px;
}
.boxSubtitulo h2 {
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}

.boxImagenes {
  display: flex;
  justify-content: center;
}

.boxImg {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 15px;
}
.boxImg img {
  width: 250px;
  height: 220px;
  margin: 10px 15px 10px 15px;
  border-radius: 15px;
}
.boxImg p {
  margin-top: 5px;
}

.boxComentario {
  background: linear-gradient(45deg, #669ac1, #ace3a1);
  transition: all 0.2s;
}
.boxComentario h5 {
  font-weight: bold;
}
.boxComentario p {
  font-weight: bold;
}
.boxComentario:hover {
  width: 460px;
  height: 160px;
  cursor: pointer;
}

.btn_modal {
  background-color: #005f75;
  color: white;
  transition: all 0.2s;
}
.btn_modal:hover {
  background-color: #999999;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

/* PIE DE PÁGINA */
footer {
  background-color: #202020;
  width: 100%;
}
footer .footerLink {
  margin: 15px;
  padding: 10px;
}

.footerLink a {
  text-decoration: none;
  transition: all 0.3s;
}
.footerLink a:hover {
  font-weight: bold;
  color: #008099;
}
.footerLink li {
  margin-left: 250px;
}

.btnRedes {
  font-size: 25px;
  color: #a8a8a8;
  margin: 15px;
  padding: 20px;
}

.footerText {
  color: #a8a8a8;
  text-align: center;
}

/* Estilo para seccion de categorias */
.categoria {
  margin: 20px;
  padding: 10px;
}

.boxSubtitulo {
  margin: 10px;
  padding: 15px;
}
.boxSubtitulo h2 {
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}
.boxSubtitulo p {
  font-size: 35px;
  font-weight: bold;
}

/* Estilos para seccion de estrenos */
.tituloE {
  margin-top: 40px;
  padding-top: 35px;
}

.boxPortada {
  display: grid;
  place-items: center;
  height: 700px;
}

.portada {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 630px;
}
.portada img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.portada img:hover {
  cursor: pointer;
  width: 350px;
  opacity: 1;
  filter: contrast(120%);
}

/* Estilo para seccion Mi lista */
.imgLista {
  width: 650px;
  height: 400px;
}

/* Estilo para seccion Login */
.formulario {
  margin: 30px;
  padding: 20px;
}

.loginPadre {
  display: grid;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  height: 450px;
  margin: auto;
}

/* APLICANDO MEDIA QUERY */
/* PARA TELEFONO */
@media (max-width: 600px) {
  .logo {
    width: 60px;
  }
  .titulo {
    font-size: 30px;
    line-height: 1;
    padding: 80px 0 0 0;
  }
  .banner .parrafo {
    display: none;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
  .notiImg p {
    margin: 30px;
  }
  .portada {
    width: 290px;
    height: 350px;
  }
  .portada img:hover {
    cursor: pointer;
    width: 200px;
    filter: contrast(120%);
  }
  /* Imagenes de noticias */
  .imgUno {
    width: 250px;
  }
  .imgDos {
    width: 250px;
  }
  .imgTres {
    width: 250px;
  }
  /* comentario */
  .cajaPrincipal {
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .comentario {
    width: 300px;
    height: 400px;
  }
  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .btnRedes {
    font-size: 22px;
    margin: 7px;
  }
  .footerText h4 {
    font-size: 15px;
  }
  /* LOGIN */
  .loginPadre {
    width: 270px;
    height: 450px;
    margin: auto;
  }
}
/* PARA TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .titulo {
    font-size: 4rem;
    padding-top: 10rem;
    padding-left: 0;
  }
  .banner .parrafo {
    font-size: 20px;
    padding-left: 0;
  }
  /* COMENTARIOS */
}

/*# sourceMappingURL=style.css.map */
